<article>
{% if thumbnail %}
    <a class="frontpage-results-img" href="{{ url }}">
      
      <div class="frontpage-result-thumbnail">

      <div class="frontpage-label-main">
        <div class="frontpage-label {{ node.bundle }} {{ field_tags|replace({ ' ': '' })|lower }}">
          {# {{ node.bundle|upper }} #}
          {{ field_tags }}
        </div>
      </div>

        <div class="frontpage-title-display">

          <div class="frontpage-title">
            {% if node.title.0.value %}
              {# Display the node title #}
              {{ node.title.0.value }}
            {% endif %}
          </div>
          <div class="profile-frontpage">

            <div class="profile-img-name">
              <img class="profile-frontpage-img" src="{{ file_url(image_profile) }}" alt="User Profile Image">
              <div class="owner-frontpage">
                {{ node.uid.0.entity.name.value }}
              </div>
            </div>

            <div class="comments_count">
              {{ comments_count }}
              <i class="fa-regular fa-comment"></i>
            </div>

            <div class="likes_count">
              {{ likes_count }}
              <i class="fa-solid fa-thumbs-up"></i>
            </div>

            {{ node.createdtime|format_date('custom', 'M j, Y') }}
    
          </div>

        </div>
        {{ thumbnail }}
      </div>
    </a>
{% endif %}
</article>
