<basicpage>
{% if thumbnail %}
    <a class="frontpage-results-img" href="{{ url }}">
      
      <div class="frontpage-result-thumbnail">

        {% if field_tags is not empty %}
          <div class="teaser-tag-group">
            {% for tag in field_tags %}
            <div class="frontpage-label {{ node.bundle }} {{ tag|replace({ ' ': '' })|lower }}">
              {{ tag }}{% if not loop.last %}{% endif %}
            </div>
            {% endfor %}
          </div>
        {% endif %}

      {# <div class="frontpage-label-main">
        <div class="frontpage-label {{ node.bundle }} 
          {% for tag in field_tags %}
            {% if tag is not empty %}
              {{ tag|replace({ ' ': '' })|lower }}{% if not loop.last %} {% endif %}
            {% endif %}
          {% endfor %}
        ">
          {% for tag in field_tags %}
            {{ tag }} {% if not loop.last %}, {% endif %}
          {% endfor %}
        </div>
      </div> #}

{# <div class="frontpage-label {{ node.bundle }}">
  {% if field_tags is not empty %}
    {% for tag in field_tags %}
      {{ tag }}{% if not loop.last %}, {% endif %}
    {% endfor %}
  {% endif %}
</div> #}

        <div class="frontpage-title-display">

          <div class="frontpage-title">
            {% if node.title.0.value %}
              {# Display the node title #}
              {{ node.title.0.value }}
            {% endif %}
          </div>
          <div class="profile-frontpage">

            <div class="profile-img-name">
              <img class="profile-frontpage-img" src="{{ file_url(image_profile) }}" alt="User Profile Image">
              <div class="owner-frontpage">
                {{ node.uid.0.entity.name.value }}
              </div>
            </div>

            <div class="views_node_count">
              {{ view_node_count }}
              <span class="material-symbols-outlined">
                visibility
              </span>
            </div>

            <div class="comments_count">
              {{ comments_count }}
              {# <i class="fa-regular fa-comment"></i> #}
              <span class="material-symbols-outlined">
                chat_bubble
              </span>
            </div>

            <div class="likes_count">
              {{ likes_count }}
              {# <i class="fa-solid fa-thumbs-up"></i> #}
              <span class="material-symbols-outlined">
                thumb_up
              </span>
            </div>

            {# {{ node.createdtime|format_date('custom', 'M j, Y') }} #}
            {{ node.createdtime|format_date('custom', 'M, y') }}
    
          </div>

        </div>
        {{ thumbnail }}
      </div>
    </a>
{% endif %}
</basicpage>
