{# user.html.twig
/**
 * @file
 * Default theme implementation to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{ content -}}
    {# Render user name #}
    <div class="user-details">

      <div class="user-name-group">
        <div class="user">
          {{ 'user:'|t}}
        </div>
        <div class="user-name">
          {{ user.name.value }}
        </div>
      </div>

      <div class="user-mail-group">
        <div class="mail">
          {{ 'email:'|t}}
        </div>
        <div class="user-mail">
          {{ user.mail.value }}
        </div>
      </div>
    </div>
  {% endif %}

</article>
