<basicpage>
{% if thumbnail %}
    <a class="frontpage-content-ahref" href="{{ url }}">
      
      <div class="frontpage-result-thumbnail">

        <div class="frontpage-title-display">
          <div class="content-image">
            {{ thumbnail }}
          </div>

          <div class="front-content-footer">

            {% if field_tags is not empty %}
              <div class="teaser-tag-group">
                {# {% for tag in field_tags %}
                <div class="frontpage-label {{ node.bundle }} {{ tag|replace({ ' ': '' })|lower }}">
                  {{ tag }}{% if not loop.last %}{% endif %}
                </div>
                {% endfor %} #}

                <div class="profile-img-name">
                  <img class="profile-frontpage-img" src="{{ file_url(image_profile) }}" alt="User Profile Image">
                  <div class="owner-frontpage">
                    {{ node.uid.0.entity.name.value }}
                  </div>
                </div>
  
                <div class="node-created">
                  {# {{ node.createdtime|format_date('custom', 'M, y') }} #}
                  {{ node.createdtime|format_date('custom', 'F, j, Y') }}

                </div>
              </div>
            {% endif %}

            <div class="frontpage-title">
              {{ title_subtitle |raw }}
            </div>

            <div class="profile-frontpage">

              <div class="views_node_count">
                {{ view_node_count }}
                <span class="material-symbols-outlined">
                  visibility
                </span>
              </div>

              <div class="comments_count">
                {{ comments_count }}
                <span class="material-symbols-outlined">
                  chat_bubble
                </span>
              </div>

              <div class="likes_count">
                {{ likes_count }}
                <span class="material-symbols-outlined">
                  thumb_up
                </span>
              </div>

            </div>

            <div class="read-more">
              {{ 'Read More ->'|t }}
            </div>

          </div>
        </div>

      </div>
    </a>
{% endif %}
</basicpage>
